<div class="row d-flex justify-content-center">
    <div class="col-6 frame mt-5 p-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{$ctrl.header.name}}</th>
                <th scope="col"><input type="checkbox"  ng-model="$ctrl.header.view.checked" ng-disabled="$ctrl.header.view.disabled">Check All</th>
                <th scope="col"><input type="checkbox"  ng-model="$ctrl.header.edit.checked" ng-disabled="$ctrl.header.edit.disabled">Check All</th>
                <th scope="col"><input type="checkbox" ng-model="$ctrl.header.remove.checked" ng-disabled="$ctrl.header.remove.disabled">Check All</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="category in $ctrl.categories" class="bottom-border-dotted">
                <td>{{category.name}}</td>
                <td><input name="view" ng-click="$ctrl.toggleSelection($event)" type="checkbox" ng-model="category.view.checked" ng-disabled="category.view.disabled">View</td>
                <td><input name="edit" ng-click="$ctrl.toggleSelection($event)" type="checkbox" ng-model="category.edit.checked" ng-disabled="!category.view.checked">Edit</td>
                <td><input name="remove" ng-click="$ctrl.toggleSelection($event)" type="checkbox" ng-model="category.remove.checked" ng-disabled="!category.view.checked">Remove</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary ml-auto d-block">Save</button>
    </div>
</div>

