.bottom-border-dotted {
    border-bottom: 2px dotted black;
}

table {
    border-collapse: collapse;
    margin-top:50px
}

input[type="checkbox"]:disabled {
    opacity:0.5;
}


input[type="checkbox"]:not(:disabled) {
    cursor: pointer;
}

td span {
    display: inline-block;
    width: 100%;
}


