.bottom-border-dotted {
    border-bottom: 3px dotted black;
}

table {
    border-collapse: collapse;
    margin-top:50px
}


input[type="checkbox"] {
    margin-right: 5px;
}

input[type="checkbox"]:disabled {
    outline:2px solid red;
    color: #000000;
    background: #000000;

}

.frame {
    border: 1px solid black;
}



